header {
  display: flex;
  font-family: Verdana, sans-sarif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.logo {
  background-image: url("resources/media/img-myt-logo.jpg");
  width: 70px;
  height: 60px;
}

.mytimes {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  padding-left: 5px;
  min-width: 100px;
}

.nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav li {
  display: inline-flex;
  padding-right: 20px;
}

.nav .science {
  padding-right: 40px;
}

.nav a {
  color: black;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  margin-right: 30px;
}

.large {
  width: 630px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sublarge {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 0;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

.story {
  display: flex;
  flex-direction: column;
  font-family: Georgia, sans-sarif;
  font-size: 17px;
  color: black;
}

.bites {
  border-bottom: 1px solid black;
  padding: 10px 20px;
  margin: 0;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.images {
  color: white;
  font-family: Georgia, san-sarif;
  font-weight: bold;
  font-size: 30px;
  background-repeat: no-repeat;
}

.phish {
  background-image: url("../media/main-story.png");
  min-width: 629px;
  height: 300px;
  font-size: 40px;
}

.cats {
  display: flex;
  background-image: url("../media/cat-ceo.png");
  height: 300px;
  text-align: center;
  align-items: center;
}

.earth {
  display: flex;
  background-image: url("../media/fall-image.png");
  height: 300px;
  text-align: center;
  align-items: center;
}

.camera {
  display: flex;
  background-image: url("../media/camera-dude.png");
  height: 300px;
  text-align: center;
  align-items: center;
}

.cookie {
  display: flex;
  background-image: url("../media/cookie.png");
  width: 220px;
  height: 220px;
}
